#                  ИГНОРИРУЕТ ПУСТЫЕ СТРОКИ И СО ЗНАКОМ - (#).

#                        ---------------------------
#           ---------ДЛЯ ВВОДА ФАЙЛА В ИГНОР СКАЧКИ ГИТА --------- 
# --------- УКАЖИТЕ ПУТЬ К РАССПОЛОЖЕНИЮ ЭТОГО ФАЙЛА В ДИРЕКТОРИИ -------------
#             --------------------------------------------------
#                                 Пример:
#                api/config.php (игнор определенного файла)
#                ap/  (игнор директории со всем содержимым)