.header-present{
    margin: 2px auto;
    background: rgba(0, 0, 0, 0.664);
}
.header-present h4{
    color: antiquewhite;
}
.card-custom{
    margin-top: 10px !important; 
    text-align: center;
}
.content-left{
    position: fixed !important;
    z-index: 999 !important;
}
.content-left-nav{
    margin-top: -19.5% !important; 
}
.content-right{
    margin-left: 18%;

}